<tr class="admin_room_item">
  <td><%= bill_counter + 1 %></td>
  <td><%= bill.status %></td>
  <td><%= bill.price %></td>
  <td class="btn-action">
    <%= link_to t(".detail"), admin_user_bill_bookings_path(@user, bill), class: "btn btn-block btn-info btn-action" %>
  </td>
</tr>
