<tr class="nested-fields row">
  <td class="col-md-2 input-upload-picture">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </td>
  <td class="col-md-3 offset-2">
    <% if f.object.picture.url.present? %>
      <%= image_tag f.object.picture.url %>
    <% end %>
  </td>
  <td class="col-md-1 offset-1">
    <%= link_to_remove_association  f do %>
      <i class="fas fa-trash btn-action-remove-association"></i>
    <% end %>
  </td>
</tr>
