<div>
  <% if  @user.errors[field].present?  %>
    <ul id="list-unstyled">
        <% @user.errors[field].each do |error| %>
            <li class="red "><%= error %></li>
        <% end %>
    </ul>
  <% end %>
</div>
