<div class="container reservation-content">
  <div class="content-top">
    <h1 class="title"><%= t ".title" %></h1>
    <h4 class="content-search"><%= t ".title_search" %></h4>
     <%= render "shared/search_room_form" %>
  </div>
</div>
