<% provide :title, t(".our_rooms") %>
<div class="container-fluid">
  <div id="list_room" class="row">
    <%= render @rooms %>
  </div>
  <div id="infinite-scrolling" style="display: none">
    <%= paginate @rooms, theme: "twitter-bootstrap-3" %>
  </div>
</div>
<%= javascript_pack_tag "room_pagination" %>
