$gray: hsl(0, 0%, 27%);
$black: black;
$gray_light: #545459;
$red_light: rgb(241, 57, 57);
$yellow: #db9f3b;
$silver:  #bbb;
$red: red;
$blue: blue;
$red_pink: #dc3545;
$back-ground-color-primary: #D7D5D2;
