$gray: hsl(0, 0%, 27%);
$black: black;
$gray_light: #545459;
$red_light: rgb(241, 57, 57);
$yellow: #db9f3b;
$silver:  #bbb;
$red: red;
$blue: blue;
$red_pink: #dc3545;
$back-ground-color-primary: #D7D5D2;
$rgb_black: rgba(0, 0, 0, 0.2);
$rgb_gray: rgba(0, 0, 0, 0.19);
$grayy: #b7cace;
$white: white;
$mo: #730E15;
$yel: #db9f3b;
$bol:#e1c9a5;
$grayyy: #ACB9C8;
$yell: #524633;
$bol: #D7D5D2;
$silver: #db9f3b;
$brown: #A36732;
$brown_light: #e1c9a5;
