@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'valiables';
@import 'signup';
@import 'login';
@import 'profile';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.5rem;
}

#header {
  display: flex;
  justify-content: space-between;

  a {
    color: $black;
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
  }
}

#menu{
  display: flex;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;

  img {
    width: 200px;
  }

  ul {
    list-style-type: none;
    .show{
      display:inline-block !important;
    }

    .drop-btn{
      background-color: transparent;
      border: 1px solid transparent;
      font-weight: bold;
    }
    li {
      height: 20px;
      line-height: 20px;
      display: inline-block;
      padding-left: 20px;

      &:first-child {
        padding-left: 0;
      }

      a {
        color: $black;
        font-weight: bold;

        &:hover {
          text-decoration: none;
          opacity: 0.7;
        }
      }
    }
  }
}

#banner {
  height: 500px;
  background-image: asset_url("banner.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: $text-color-banner;

  h3 {
    padding-top: 160px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  h1 {
    font-size: 4rem;
    font-weight: bolder;
  }
}

#little_about_us {
  height: 800px;
  background-color: $back-ground-color-primary;

  h2 {
    text-transform: uppercase;
    padding-top: 160px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 5px;
    color: $title-color;
    text-align: center;
    margin-bottom: 70px;
  }

  .wrap_content {
    display: flex;
    justify-content: center;

    img {
      width: 300px;
      height: 400px;
      border: 10px solid $text-color-banner;
      margin-right: 50px;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 400px;

      h3 {
        font-size: 3rem;
        font-weight: bold;
      }
    }
  }
}

#our_rooms {
  height: 500px;
  display: flex;
  justify-content: space-between;

  .wrap_list_room {
    width: 700px;
    padding: 50px;

    h3 {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 5px;
      color: #5e4633;
    }

    h2 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 50px;
    }

    .list_room_item {
      display: flex;
      padding: 5px;

      &:hover {
        background-color: $list-room-item-background-hover;
      }

      img {
        flex-basis: 100px;
        height: 60px;
        margin-right: 10px;
      }

      .item_info {
        flex-grow: 1;

        h4 {
          font-size: 1.5rem;
          font-weight: bold;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }

  #image_room_item {

    img {
      width: 100%;
      height: 500px;
    }
  }

}

#client_evaluate {
  height: 500px;
  background-color: $back-ground-color-primary;
  display: flex;
  justify-content: center;
  align-items: center;

  .client_say_wrap {
    background-color: $text-color-banner;
    padding: 50px;
    text-align: center;

    h3 {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 5px;
      color: $title-color;
    }

    h2 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 30px;
    }

    p {
      font-style: italic;
    }
  }
}

footer {
  padding: 60px 0;
  background: $back-ground-color-footer;
  text-align: left;
  color: $text-color-footer;

  img {
    width: 200px;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 30px;
    font-style: italic;
  }

  a {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 8px;
    color: $text-color-footer-social;
    border: 0;
    font-size: 2rem;
  }
}

#about {
  height: 500px;
  padding: 50px 0;

  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .number_fact {
    display: flex;
    justify-content: space-evenly;

    .number_fact_item {
      text-align: center;

      .number {
        font-size: 4rem;
        font-weight: 500;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}

#contact {
  display: flex;
  height: 500px;

  .image-map {
    flex-grow: 1;
    overflow: hidden;

  }

  .contact_info {
    flex-basis: 700px;
    padding: 50px;

    h3 {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 5px;
      color: $title-color;
    }

    h2 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .headquarter {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 70px;
      margin-bottom: 20px;
    }

    p {
      font-size: 1rem;
      color: $text-color-footer;

      .email_label {
        color: $black;
      }
    }

    .phone_title {
      margin-top: 30px;
    }

    .phone_number {
      font-weight: 500;
      font-size: 2rem;
    }
  }
}

#list_room {
  margin-bottom: 100px;
  font-size: 1.3rem;

  .list_room_item_1 {
    margin-top: 100px;
    height: 500px;
    background-color: $back-ground-color-primary;

    .list_room_item_content {
      padding-top: 30px;

      h3 {
        font-size: 3.5rem;
        font-weight: bold;
      }

      .room_price {
        margin: 30px 0;

        .price {
          color: red;
          font-size: 2rem;
        }
      }

      .info {
        margin: 30px 0;
      }

      .detail_link {
        text-transform: uppercase;
        font-weight: bold;

        a {
          color: black;

          &:hover {
            opacity: 0.7;
            text-decoration: none;
          }
        }
      }
    }

    .list_room_item_image {
      line-height: 500px;

      img {
        overflow: hidden;
        width: 100%;
        height: 350px;
        border: 10px white solid;
      }
    }
  }
}

.show_detail_room {
  font-size: 1.3rem;

  h3 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
  }

  #room_detail {
    text-align: center;
    background-color: $back-ground-color-primary;
    padding: 50px 0;

    #image {
      height: 500px;

      img {
        width: 80%;
        height: 100%;

        border: 10px white solid;
      }
    }

    #price {
      margin-top: 50px;
      font-size: 2.5rem;

      .price_room {
        color: red;
        font-size: 3rem;
      }
    }
  }

  #description {
    text-align: center;
    background-color: $text-color-banner;
    padding: 50px 0;

    hr {
      margin: 30px 0;
    }
  }

  #book_now {
    text-align: center;

    button {
      padding: 10px 50px;
    }
  }

  #room_relate {
    background-color: $back-ground-color-primary;
    padding: 50px 0;
    margin-top: 50px;

    .relate_room_item {

      img {
        width: 100%;
        height: 300px;
      }

      .relate_room_item_info {
        background-color: $text-color-banner;
        padding: 30px;

        h3 {
          font-size: 2rem;
          color: black;
        }
      }
    }
  }
}

.title {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  font-family: 'Lora', serif;
  font-weight: bold;
}

.reservation-content{

  .content-top {
    height: 400px;
    background-color: $back-ground-color-primary;

    .content-search {
      text-align: center;
      font-size: 20px;
      font-family: 'Lora', serif;
      font-weight: bold;
    }
  }
}

.search_reservation {
  padding-top: 25px;

  .main-search {
    width: 70%;
    height: 100px;
    box-shadow: 0 4px 8px 0 $rgb_black, 0 6px 20px 0 $rgb_gray;
    margin: 0 auto;

    form {
      width: 100%;

      .form-left {
        background-color: $white;
        display: flex;
        flex-direction: row;
        height: 100%;

        .form-group {
          width: 48%;
          line-height: 3;
          margin: 0 15px;

          .label-time {
            margin: 0;
            text-align: left !important;
            color: $gray;
          }

          .form-input {
            height: 30px;
          }
        }
      }

      .form-right {
        background-color: $grayy;
        line-height: 9;
        height: 100%;
        text-align: center;

        .btn-search {
          height: 30px;
          font-size: 11px;
        }
      }
    }
  }
}

.btn-mona {
  background-color: $yellow !important;
  color: $black !important;
  font-weight: bold !important;

  &:hover {
    opacity: 0.7;
  }
}

.total-price {
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
  font-size: 20px;
}

.room-search {
  background-color: $back-ground-color-primary;
  position: relative;

  #reservation {
    position: absolute;
    top: 500px;
    right: 40px;
  }

  .room-main {

    .list-room {
      width: 60%;
      margin: 15px auto;
      background-color: $white;
      box-shadow: 0 4px 8px 0 $rgb_black, 0 6px 20px 0 $rgb_gray;
      height: 110px;

      form {
        width: 60%;
        margin: 0 auto;
        padding: 45px 0 25px;

        .btn-select {
          width: 100%;
        }
      }

      .image {
        padding: 0;

        img {
          width: 110px;
          height: 110px;
        }
      }

      .room-name {
        padding-bottom: 15px;
        font-size: 20px;
        font-family: 'Lora', serif;
        font-weight: bold;
      }

      .room-des li {
        font-weight: bold;
        font-family: 'Lora', serif;
        list-style: none;
      }
    }
  }
}

.time {
  text-align: center;

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin: 20px 0;
      padding:0 15px;

      &:first-child {
        border-right: 1px solid $gray;
      }
    }
  }
}

.modal-reser {
  max-width: 580px !important;
}

.room-des {
  padding: 0 20px;

  li {
    list-style: none;
    font-weight: bold;

    .room-name {
      color: goldenrod;
    }

    .room-reser {

      li {
        list-style: none;
      }
    }

    .price-cont {
      text-align: center;

      .room-price {
        color: $mo;
        font-weight: bold;
      }
    }
  }
}

.room-list-reser > li {
  padding: 10px 0;
}

.image-reser {
  width: 100px;
  height: 100px;
}
