$text-color-banner: #FEFEFE;
$back-ground-color-primary: #D7D5D2;
$title-color: #5E4633;
$list-room-item-background-hover: #ACB9C8;
$back-ground-color-footer: #333;
$text-color-footer: #AAA;
$text-color-footer-social: #777;
$text-color-footer: #879F8A;
$show_more_btn: #8FEFD4;
