<div>
  <% if  @room.errors[field].present?  %>
    <ul id="list-unstyled">
      <% @room.errors[field].each do |error| %>
        <li class="red "><%= "#{field}" + " " + error %></li>
      <% end %>
    </ul>
  <% end %>
</div>
