<div id="banner">
  <h3><%= t ".greeting" %></h3>
  <h1><%= t ".hotel_name" %></h1>
  <p><%= t ".des" %></p>
  <div id="search_available_form" class="row">
    <div class="col-md-8 offset-2">
      <%= render "shared/search_room_form" %>
    </div>
  </div>
</div>
