<div id="header">
  <div class="contact_phone">
    <%= t ".contact" %>
  </div>
  <div class="i18n">
    <%= link_to t(".en"), locale: :en %>
    <%= link_to t(".vi"), locale: :vi %>
  </div>
</div>
<hr>
